<h1>Welcome to Rock-Paper-Scissors!</h1>
<p>In the game of <strong>Rock-Paper-Scissors</strong>, you and your oponent each "throw" one of the titular items.</p>
<p><span style="text-decoration: underline;">Rock</span> beats&nbsp;<span style="text-decoration: underline;">Scissors</span></p>
<p><span style="text-decoration: underline;">Scissors</span> beats <span style="text-decoration: underline;">Paper</span></p>
<p>and <span style="text-decoration: underline;">Paper</span> beats <span style="text-decoration: underline;">Rock</span></p>
<p>In this webapp, pick one of the three plays up top and the computer player will respond in turn</p>
